<!DOCTYPE html>
<html ng-app="witchTic">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="main.js"></script>
		<title>WITCHES' TIC TAC TOE</title>
	</head>
	<body>
		<h1>Cat's Game</h1>
		<h2>Please call your familiar. Owls choose players that take initiative; bats choose players who wait and survey.</h2>
		<div ng-controller="Controlled" class="container">


<!--                 Appears when game has ended -->

                <h3 ng-show="owlWon">OWL WON</h3>
                <h3 ng-show="batWon">BAT WON</h3>
                <h3 ng-show="aTie">IT'S A TIE</h3>

			<div class="gridBox">

<!--             Stamps out all nine cells, and changes background picture based on click # -->

                <div ng-repeat="currentCell in theCells">
                    <div class="allCells" ng-click="launchFamiliar(currentCell)" ng-class="{owl: currentCell.status=='O', bat: currentCell.status=='B'}"></div> 
                </div>




<!--                 {{testString}} -->
            </div>
                <button ng-click="reset()">RESET</button>
		</div>
	</body>
</html>