<!DOCTYPE html>
<html ng-app="witchTic">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="main.js"></script>
		<title>WITCHES' TIC TAC TOE</title>
	</head>
	<body>

		<div ng-controller="Controlled" class="container">

		<!--    Display how many games respective players have won -->

		            <div class="playerWins">

            	<div id="playerOne">

            		<p>Player 1:</p>
            		<p>{{owlWins}}</p>

            	</div>

            	<div id="playerTwo">

            		<p>Player 2:</p>
            		<p>{{batWins}}</p>

            	</div>

            </div>


<!-- 	Game title -->

            <h1>Cat's Game</h1>

<!-- 	Gives user instructions and hides when player has won -->

			<p class="instructions" ng-hide="owlWon || batWon || aTie">Please call your familiar. Owls will choose the player that takes initiative; bats will choose the player who waits to survey.</p>

<!--    Appears when game has ended -->

            <h3 ng-show="owlWon">OWL HAS CARRIED OUT PLAYER 1'S BIDDING</h3>
            <h3 ng-show="batWon">BAT HAS CARRIED OUT PLAYER 2'S BIDDING</h3>
            <h3 ng-show="aTie">BAT AND OWL HAVE REACHED AN IMPASSE</h3>

			<div class="gridBox">

<!--    Stamps out all nine cells, and changes background picture based on click # -->

                <div ng-repeat="currentCell in theCells">

                    <div class="allCells" ng-click="launchFamiliar(currentCell)" ng-class="{owl: currentCell.status=='O', bat: currentCell.status=='B', end: endGame}">
                    </div> 

                </div>


            </div>


            <button ng-click="reset()">AGAIN</button>

		</div>
	</body>
</html>