
html, body {
    background-size: 100%;
    background-color: rgb(232, 93, 231);

}

h1 {
    text-align: center;
    color: rgb(255, 13, 134);
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 70px;
}

h2 {
    text-align: center;
    color: rgb(255, 13, 134);
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 30px;
}


.gridBox {
    height: 650px;
    width: 650px;
    margin: 15px auto;
}


.allCells {
	background-color: rgb(255, 115, 184);
    height: 200px;
    width: 200px;
    border: 3px dotted rgb(232, 93, 231);
    display: inline-block;
    float: left;
    border-radius: 25px;
}



/*#c0 {
    background-image: url(images/BatClear.png);
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: 30% 10%;
}



#c3 {
    background-image: url(images/owlLineClear.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}*/

/*.bat {
    background-image: url(images/BatClear.png);
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: 30% 10%;

}

.owl {
    background-image: url(images/owlLineClear.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}*/