.container div {
	background-color: rgb(255, 115, 184);
    height: 200px;
    width: 200px;
    border: 3px dotted rgb(232, 93, 231);
    display: inline-block;
    float: left;
    border-radius: 20px;
}

div.container {
    margin-left: 20%;
    margin-right: 20%;
}

.clear {
    clear: both;
}

body {
    background-size: 100%;
    background-color: rgb(232, 93, 231);
}