
html, body {
    height: 100%;
    background-color: rgb(255, 109, 255);
    background-image: url(images/ReversedPentagramofFlowers.png), url(images/PentagramofFlowers.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 40%;
    background-position: bottom 20px left 45px, bottom 20px right 45px;

}

/*Game title*/

h1 {
    text-align: center;
    color: rgb(255, 13, 134);
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 70px;
    margin-top: 33px;
    margin-bottom: 5px;
}

/*Instruction paragraph*/

p.instructions {
    text-align: center;
    color: rgb(255, 13, 134);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    margin-top: 22px;
}

/*Win & Tie messages*/

h3 {
    text-align: center;
    color: rgb(255, 13, 134);
    font-family: 'Nosifer', cursive;
    font-size: 40px;
    margin: 5px auto;
}


.gridBox {
    height: 35%;
    width: 35%;
    margin: 15px auto;
}

/*Cell layout:*/

.allCells {
	background-color: rgb(255, 115, 184);
    width: 30%;
    padding-bottom: 30%;
    border: 3px dotted rgb(171, 9, 90);
    display: inline-block;
    float: left;
    border-radius: 20%;
    margin: 2px;
}

.allCells:hover {
    background-color: rgba(255, 13, 134, .5)
}


/*Begin markers for players chosen cells*/

.bat {
    background-image: url(images/batVampireClear.png);
    background-repeat: no-repeat;
    background-size: 78%;
    background-position: center;
    pointer-events: none;

}

.owl {
    background-image: url(images/owlLineClear.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    pointer-events: none;
}

/*End markers*/

/*Makes cells unclickable once game has ended*/

.end {
    pointer-events: none;
}


button {
    display: block;
    font-family: 'IM Fell DW Pica SC', serif;
    color: rgb(171, 9, 90);
    font-size: 15px;
    background-color: rgb(255, 0, 255);
    border-radius: 30px;
    border: 2px dotted rgb(171, 9, 90);
    padding: 10px;
    text-align: center;
    margin: 0px auto;
}

/*Player win counter boxes*/

.playerWins div {
    width: 8%;
    background-color: rgba(255, 13, 134, .5);
    border: 3px dotted rgb(171, 9, 90);
    border-radius: 25px;
    display: inline-block;
    float: right;
    text-align: center;
    margin: -32px 2px 2px 2px;
    padding-top: 25px;
    font-family: 'Great Vibes', cursive;
    font-size: 17px;
    color: rgb(171, 9, 90);

}

.playerWins p {

    margin: 3px;
}